<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/api/employee',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponses(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        //Displays in a Table
        function WriteResponses(employees) {
            var strResult = "<table class=\"table\"><thead class=\"thead-inverse\"><th>Employee ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Status</th></thead>";
            $.each(employees, function (index, employee) {
                strResult += "<tr><td>" + employee.ID + "</td><td> " + employee.FirstName + "</td><td>" + employee.LastName + "</td><td>" + employee.Email + "</td><td>"+employee.Status +"</td></tr>";
            });
            strResult += "</table>";
            $("#divResult").html(strResult);
        }

    });

    //Get employee by ID
    function GetEmployee() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:1428/api/employee/' + $('#empId').val(),
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert('The Employee not found. Please Enter a Valid ID');
            }
        });

        function WriteResponse(employee) {
            document.getElementById('FirstName').innerHTML = "<input name=\"Firstname\" id=\"updateEmployeeName\" value=" + employee.FirstName + " />";
            document.getElementById('LastName').innerHTML = "<input name=\"Lastname\" id=\"updateEmployeeLastName\" value=" + employee.LastName + " />";
            document.getElementById('Email').innerHTML = "<h4>" + employee.Email + "</h4>";
            document.getElementById('Status').innerHTML = "<input name=\"Lastname\" id=\"updateEmployeeStatus\" value=" + employee.Status + " />";
        }
    }

    //Post Employee
    function AddEmployee() {
        var employee = {
            ID: document.getElementById('EmpId').value,
            FirstName: document.getElementById('newEmployeeName').value,
            LastName: document.getElementById('newEmployeeLastName').value,
            Email: document.getElementById('newEmployeeEmail').value,
            Status: document.getElementById('newEmployeeStatus').value
        };

        $.ajax({
            url: 'http://localhost:1428/api/employee/',
            type: 'POST',
            data: JSON.stringify(employee),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Employees added Successfully');
                GetAllEmployees();
            },
            error: function () {
                alert('Please fill all the fields');
            }
        });
    }

    //Put Employee
    function PutEmployee() {
        var employee = {
            EmployeeId: document.getElementById('empId').value,
            FirstName: document.getElementById('updateEmployeeName').value,
            LastName: document.getElementById('updateEmployeeLastName').value,
            Status: document.getElementById('updateEmployeeStatus').value,
            Email: document.getElementById('Email').value
        };

        $.ajax({
            url: 'http://localhost:1428/api/employee/' + document.getElementById('EmpId').value,
            type: 'PUT',
            data: JSON.stringify(employee),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Details Updated Successfully');
                GetAllEmployees();
            },
            error: function () {
                alert('Details of Given ID not Updated !');
            }
        });
    }

    //Delete Employee
    function DeleteEmployee() {
        jQuery.support.cors = true;
        var employee = {
            EmployeeId: document.getElementById('empId').value
        };
        $.ajax({
            url: 'http://localhost:1428/api/employee/' + document.getElementById('empId').value,
            type: 'DELETE',
            data: JSON.stringify(employee),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Successfully deleted');
                GetAllEmployees();

            },
            error: function () {
                alert('Unable to Delete the Specified Employee!');

            }

        });
    }

    function GetAllEmployees() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:1428/api/employee/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponses(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        //Displays in a Table
        function WriteResponses(employees) {
            var strResult = "<table class=\"table\"><th>Employee ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Status</th>";
            $.each(employees, function (index, employee) {
                strResult += "<tr><td>" + employee.ID + "</td><td> " + employee.FirstName + "</td><td>" + employee.LastName + "</td><td>" + employee.Email + "</td><td>"+employee.Status +"</td></tr>";
            });
            strResult += "</table>";
            $("#divResult").html(strResult);
        }
    }


</script>
<center>
    <h1 style="margin-top:20px;color:goldenrod;font-family:'Times New Roman';">Employee Database </h1>
    <h2 style="margin-top:20px;color:brown;font-family:Constantia;">List of Employees </h2>
</center>
<div id="divResult" style="margin-left: 15px"></div>
<div>
    <center>
        <table>
            <tr>
                <td>
                    <center>
                        <h2 style="margin-top:20px;color:brown;font-family:Constantia;">Add Employee </h2>
                    </center>
                    <table class="table">
                        <tr>
                            <td>
                                <label for="ID">Employee ID</label>
                            </td>
                            <td>
                                <input id="EmpId" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="name">First Name</label>
                            </td>
                            <td>
                                <input id="newEmployeeName" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="name"> Last Name</label>
                            </td>
                            <td>
                                <input id="newEmployeeLastName" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">Email:</label>
                            </td>
                            <td>
                                <input id="newEmployeeEmail" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="Status">Status:</label>
                            </td>
                            <td>
                                <input id="newEmployeeStatus" type="text" />
                            </td>
                        </tr>
                        @*<tr><td>
                                 <div class="dropdown"/>
                                    <label for="Status">Status :</label>
                                    <div id="newEmployeeStatus" type="text"/>
                                        <td>
                                        <select>
                                            <option value="Activated">Activated</option>
                                            <option value="Deactivated">Deactivated</option>
                                        </select>
                                    </td>
                            </td></tr>*@
                    </table>
                    <button id="postEmployee" class="btn btn-primary" onclick="AddEmployee()">Add New Employee</button>
    </center>
</div>

<div>
    <center> <h2 style="margin-top:20px;color:brown;font-family:Constantia;">Modify Employee Details</h2></center>
</div>
<h3 style="margin-left:250px">Enter the employee ID:</h3>
<center>
    <div>
        <input type="text" id="empId" value="" />
        <button id="GetEmployee" class="btn btn-primary" onclick="GetEmployee()">Get Employee</button>
    </div>
</center>
<center>
    <div style="margin-left: 60px">
        <table class="table" style="width:800px">
            <tr>
                <td>
                    <h4>First Name</h4>
                </td>
                <td><span id="FirstName"></span></td>
            </tr>
            <tr>
                <td>
                    <h4>Last Name</h4>
                </td>
                <td><span id="LastName"></span></td>
            </tr>
            <tr>
                <td>
                    <h4>Email</h4>
                </td>
                <td><span id="Email"></span></td>
            </tr>
            <tr>
                <td>
                    <h4>Status</h4>
                </td>
                <td><span id="Status"></span></td>
            </tr>
            @*<tr>
                    <td>
                        <h4>Status :</h4>
                    </td>
                    <td>
                        <select>
                            <option value="Activated">Activated</option>
                            <option value="Deactivated">Deactivated</option>
                        </select>
                    </td>
                </tr>*@
        </table>
    </div>
</center>
<centre>
    <div>
        <button style="margin-left:10px;" id="putEmployee" class="btn btn-primary" onclick="PutEmployee()">Update Employee</button>
        <button style="margin-left:10px;" id="DeleteEmployee" class="btn btn-primary" onclick="DeleteEmployee()">Delete Employee</button>
    </div>
</centre>

